header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #4267b2;
	color: #fff;
	padding: 20px;
	flex-grow: 1;
}

header h1 {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
}
.center-heading {
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    font-weight: normal;
}
.form-header{
    font-weight: normal;
    font-size: x-large;

}
a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.form-container {
    width: 900px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #ccc;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
}

input[type="submit"] {
	background-color: #26a69a;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #1d7d74;
}

.error {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.success {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.error, .success {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

.error p, .success p {
    margin-right: 30px;
}

.error {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.success {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.login {
	text-decoration: none; 
    color: black;
}
